/*estilos generales*/

* {
    font-family:'Velino-Headline-Book',Georgia,'Times New Roman',Times,serif;
}

p {
    font-size: 23px;
    line-height: 30px;
}

article > p {

    margin-bottom: 30px;
}

.img {
    width: 650px;
    height: 450px;
    margin-bottom: 10px;
}

/* estilos header*/



.menu-list {
    padding: 10px;
    margin: auto;
    background-color: #f8f5f0;
    font-size: small;
}

.menu-list > li {
    font-family:'Velino-Headline-Book', Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 11px;
    display: inline-block;
    margin: 0px 5px;
    color: rgba(51,51,51,0.6);
}

/* no funciona el cambio de color */
.header-list {
    color: black;
}

.first-item {
    color: black;

}

.nav-bar {
    height: 50px;
    background-color: #191919;
    color: #f8f5f0;
}

.nav-bar-list > li {
    display: inline-block;
}

.header-text {
    margin: 2px 0px 0px 0px;
    height: 50px;
    background-color: #c1c1c1;
}

.side-menu{
    background-image: url(/icons/hamburguesa.svg);
}

/* estilos main*/

main {
    margin: 50px;
}

h1 {
    margin: 50px 0px 5px 160px;
    color:#be3a67;
    font-size: 50px;
}
h2 {
    width: 600px;
    height: 280px;
    margin: 5px 0px 5px 160px;
    font-size: 50px;
}

h3 {
    color: #888;
    width: 600px;
    margin: 5px 0px 35px 160px;
    font-size: 20px;
}

h4 {
    font-size: 25px;
    margin-bottom: 40px;
    font-weight: bold;
}

h5 {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: small;
    line-height: 20px;
}

h6 {
    font-size: 18px;
    color: #333;
    line-height: 30px;
}

.title-image {

    width: 1250px;
    height: 700px;
    margin-bottom: 10px;
}


.link {
    text-decoration:underline #d80026;
    color: #d80026;
}

/* estilos seccion contenido*/


.info-content {
    width: 1250px;
    padding-left: 150px;
}

article {
    width: 650px;
}



.info-content-add {
    width: 650px;
}

.info-content-add-top {
  padding: 20px 0px;
  font-weight: bold;
  color:#d80026;
  font-size: 18px;
}

.info-content-add-button {
    margin: 25px 0px 50px 0px;
    font-size: 11px;
    color: #888;
}

.info-content > article {
    display: inline-block;
}

/* estilos aside*/

aside {
    position: relative;
    width: 300px;
    left: 800px;
    bottom: 5250px;
    font-weight: bold;

    
}
.aside-red-text {
    color: #d80026;
    font-size: 13px;
}

.aside-content {
    font-size: 13px;
}

.aside-number {
    color: #d80026;
}

/*otros estilos*/
a:link {
    outline: none;
    color: none;
    text-decoration: none;
}

a:visited {
    outline: none;
    text-decoration: none;
    color: none;
}

a:active {
    outline: none;
    text-decoration: none;
    background: none;
    color: none;
  }



strong {
    font-weight: bold;
}

i {
    font-style: italic;
}
